@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
*{
  font-family: 'Roboto Mono', monospace;
  background-color:black;
}

.txt{
  color:green;
  display:flex;
}
.texthack{
  color:green;
  border:1px solid black;
  flex:1;
  
}